    .App {
        text-align: center;
        width: 1450px;
        Height: 36.48px;
        left: 27.99%;
        right: 27.99%;
        top: 16.34%;
        bottom: 16.33%;
        background-color: #3772FF;
        font-family: 'Poppins' sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */
        text-align: center;
        color: white;
    }
    
    .container {
        display: flex;
        width: calc(100vh - -10px);
    }
    
    .divide {
        background-color: #242731;
        color: #242731;
        margin-left: -2px;
    }
    
    .divide1 {
        background-color: #242731;
        color: #242731;
        margin-left: -2px;
    }