.App {
    text-align: center;
    width: 1473px;
    Height: 36.48px;
    background-color: #3772FF;
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    color: white;
    margin-right: -20px;
}

.other {
    flex: 1;
    max-width: 500px;
}

.container {
    display: flex;
    max-width: -100px;
    margin-right: -30px;
}

.divide {
    background-color: #242731;
    color: #242731;
    margin-left: -2px;
}

.divide1 {
    background-color: #242731;
    color: #242731;
    margin-left: -2px;
}